@font-face {
    font-family: "Young Serif";
    src: url("./fonts/YoungSerif-Regular.woff2") format("woff2"),
        url("./fonts/YoungSerif-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Outfit";
    src: url("./fonts/Outfit-VariableFont_wght.woff2") format("woff2"),
        url("./fonts/Outfit-VariableFont_wght.woff") format("woff");
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
}



:root {
    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);

    /* Primary */
    --Brown-800: hsl(14, 45%, 36%);
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--Rose-50);
    font-size: 1.6rem;
    line-height: 1.6;
}

img {
    width: 100%;
    display: block;
}

h1,
h2 {
    font-family: "Young Serif";
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--Brown-800);
    margin-bottom: 1rem;
}

p {
    font-family: "Outfit";
}

li{
    margin-bottom: 1rem;
}

.time ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

.time li::marker {
    color: var(--Rose-800);
}

.time li {
    margin-bottom: 0.5rem;
}

.time li strong {
    color: var(--Stone-900);
}


main {
    display: flex;
    justify-content: center;
}


article {
    margin: 0 3rem 3rem;
    padding: 0;
}

article:not(:last-of-type) {
    border-bottom: 1px solid var(--Stone-150);
    padding-bottom: 3rem;
}

.recipe > article:first-of-type {
    margin-top: 2rem;
}

.recipe {
    width: 100%;
    max-width: 70rem;
    background-color: var(--White);
    border-radius: 1.5rem;
    overflow: hidden;
}

.time {
    background-color: var(--Rose-50);
    padding: 1rem 3rem;
}

.time h2 {
    font-family: "Outfit";
    font-size: 2rem;
}

td:last-child {
    font-weight: 700;
    color: var(--Brown-800);
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table tr {
    border-bottom: 1px solid var(--Stone-150);
}

.table tr:last-child {
    border-bottom: none;
}

.table td {
    padding: 0.8rem 0;
}

.table td:first-child {
    color: var(--Stone-600);
}

.table td:last-child {
    text-align: right;
}

.instructions li::marker {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--Brown-800);

}

p>strong {
    font-weight: 700;
}

li p {
    margin-left: 1rem;
}

.attribution {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 2rem 0;
    color: var(--Stone-600);
}

@media screen and (min-width: 1400px) {
    img {
        max-width: 92%;
        margin: 2rem auto;
        border-radius: 1.5rem;
    }

    .recipe {
        margin-top: 10rem;
    }
}